/*
    You can add your own custom styles here.
*/
html, body {
  background-image: url("/img/water.05.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
}
.main-container, .sidebar, .main {
  background: transparent !important;
}

.article-list article {
  background: rgba(255, 255, 255, 0.85) !important;
  backdrop-filter: blur(4px);
}
body, html {
  cursor: url("/img/icecream.png") 16 16, auto !important;
}